<!-- your html code here -->
<!-- your html code here -->
<div class="bg-white m-1 p-3">
    <label class="textarea display-5 my-1" for="inlineFormCustomSelectcontact">portfolio</label> 
        <p class="text-muted"> Sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
    
        <div class="card-group mb-3 p-3">
            <div class="card">
              <img class="card-img-top p-2 m-1" src="./assets/img/big-project-image.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Project name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
              </div>
            </div>
            <div class="card">
              <img class="card-img-top p-2 m-1" src="./assets/img/big-project-image.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Project name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
              </div>
            </div>
            <div class="card">
              <img class="card-img-top p-2 m-1" src="./assets/img/big-project-image.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Project name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            
              </div>
            </div>
          </div>
</div>    
